.app{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.filters-container{
  align-items: stretch;
  height: 100%;
  width: 110px;
  background-color: #C1D1A5;
  padding-left: 5px;
}

.filters{
  
 


}


.product-table{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-card{
  text-align: center;
  width: 200px;
}

.product-card h1{
  font-size: 20px;
  font-weight: bold;
}

.board-pic{
height: 192px;
width: 150px;
}

.price{
  font-style: italic;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  padding-top: -15px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.size-selected{
  background-color: #ABE2FB;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
}

.not-selected{
  background-color: white;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
}

.cart{
  float: right;
  text-align: left;
  width: 300px;
  right: 0;
  position: fixed;
  padding: 5px;
  background-color: #C1D1A5;
}

.add-cart{
  background-color: rgb(226, 210, 115);
  border: none;
  padding: 5px 10px;
  text-decoration: underline;
  cursor: pointer;
}

.Collapsible__trigger{
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
}

.range-slider{
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 10px;
  margin-left: 10px;
  width: 80px !important ; /* have to use !important to get this to take precedence */
}

.underline-black{
  text-decoration: underline;
  text-decoration-color: black;
}

.product-table{
  margin-top: 100px;
}

.delete{
  cursor: pointer;
  
}